body {
	font-family: "Roboto";
}

.logo {
	width: 50px;
}

.one-agent {
	color: white;
	background-color: #004085;
}

.one-mission {
	color: white;
	background-color: #ffc107;
	text-align: right;
}

.navbar {
	background-color: #eee;
}

.nav-link {
	color: black;

}